In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/platea.csv')
df

    area nome_area fascia_anagrafica  totale_popolazione
0    ABR   Abruzzo             12-19               94727
1    ABR   Abruzzo             20-29              125230
2    ABR   Abruzzo             30-39              146965
3    ABR   Abruzzo             40-49              187162
4    ABR   Abruzzo             50-59              208686
..   ...       ...               ...                 ...
163  VEN    Veneto             40-49              715790
164  VEN    Veneto             50-59              806474
165  VEN    Veneto             60-69              610635
166  VEN    Veneto             70-79              494721
167  VEN    Veneto               80+              370529

[168 rows x 4 columns]

1. Visualizzare la popolazione complessiva di tutte le regioni

In [ ]:
df['totale_popolazione'].sum()

54009944

2. Visualizzare la popolazione di una regione inserita dall’utente. Controllare il dato inserito: se la regione
non esiste dare un opportuno messaggio, altrimenti dare il messaggio “La regione &lt;nome&gt; ha &lt;totale&gt;
abitanti”

In [ ]:
regione=input('inserisci una regione')
popolazione=df[df['nome_area']==regione].totale_popolazione.sum()
popolazione
if popolazione >0 :
  print('la regione',regione,'ha',popolazione,'abitanti' )
else:
   print('regione non presente')

inserisci una regioneMialno
regione non presente

In [ ]:
regione=input('inserisci una regione')
popolazione=df[df['nome_area']==regione].totale_popolazione.sum()
popolazione
if popolazione >0 :
  print('la regione',regione,'ha',popolazione,'abitanti' )
else:
   print('regione non presente')

inserisci una regionef
regione non presente

3. Visualizzare la popolazione di ogni regione. Visualizzare il nome della regione e il numero di abitanti.
Ordinare in ordine decrescente sul numero di abitanti (dalla regione che ha più abitanti a quella che ne
ha di meno)

In [ ]:
pop =df.groupby('nome_area')[['totale_popolazione']].sum().sort_values('totale_popolazione',ascending=False).reset_index
pop

<bound method DataFrame.reset_index of                        totale_popolazione
nome_area
Lombardia                         9246804
Lazio                             5147533
Campania                          5104347
Sicilia                           4435335
Veneto                            4383999
Emilia-Romagna                    3998406
Piemonte                          3927641
Puglia                            3572053
Toscana                           3360763
Calabria                          1689716
Sardegna                          1484800
Liguria                           1399466
Marche                            1366477
Abruzzo                           1188922
Friuli-Venezia Giulia             1088152
Umbria                             790414
Basilicata                         494881
P.A. Trento                        481355
P.A. Bolzano                       465181
Molise                             273317
Valle d'Aosta                      110382>

4. Visualizzare il grafico a barre orizzontali relativo all’esercizio 3. Inserire il titolo, i nomi degli assi e la
legenda. Fare in modo che i colori delle barre siano gradazioni dello stesso colore.

In [ ]:
import seaborn as sns
fig = plt.figure()
sns.barplot(x= pop.values, y= pop.index ,palette='Blues_d')

AttributeError: ignored

5. Eliminare la colonna ‘area’

In [ ]:
df=df.drop(columns='area')
df

6. Visualizzare le fasce anagrafiche che hanno un numero di persone compreso tra 5 e 7 milioni

In [ ]:
df1= df.groupby('fascia_anagrafica')[['totale_popolazione']].sum().reset_index()
df2=df1.loc[(df1['totale_popolazione'] <=7000000)&(df1['totale_popolazione']>=5000000),['totale_popolazione','fascia_anagrafica']]
df2

7. Visualizzare il grafico a torta dei dati dell’esercizio 6. Visualizzare negli spicchi sia il numero assoluto
degli abitanti (ad esempio 4345767) sia la percentuale

In [ ]:
df2=df1.loc[(df1['totale_popolazione'] <=7000000)&(df1['totale_popolazione']>=5000000),['totale_popolazione','fascia_anagrafica']]
ele=list(df2['totale_popolazione'])
totale=sum(ele)
fig= plt.figure(figsize=(12,12))
ax=plt.axes()

plt.rcParams.update({"font.size":20})

def make_autopct(values):
  def my_autopct(pct):
    total=sum(values)
    val=int(round(pct*total/100.0))
    return '{v:d} ({p:2f}%)'.format(p=pct,v=val) 
  return my_autopct
values = list(df2['totale_popolazione'])
ax.pie(df2['totale_popolazione'],labels=df2['fascia_anagrafica'],autopct=make_autopct(values))
plt.show()

8. Visualizzare un nuovo grafico con i grafici precedenti. Il nuovo grafico deve avere due colonne e tre
righe e deve contenere nella prima colonna tre volte il grafico a barre e nelle seconda colonna tre volte
il grafico a torta

In [ ]:
fig, ((ax1,ax2,ax3),(ax4,ax5,ax6)) = plt.subplots(2,3)
ax1.barh(dfpopolazione.index,dfpopolazione['totale_popolazione'],color='tab:orange')

ax2.barh(dfpopolazione.index,dfpopolazione['totale_popolazione'],color='tab:orange')

ax3.barh(dfpopolazione.index,dfpopolazione['totale_popolazione'],color='tab:orange')


ax4.pie(df2['totale_popolazione'],labels=df2['fascia_anagrafica'],autopct='%1.2f%%')
ax5.pie(df2['totale_popolazione'],labels=df2['fascia_anagrafica'],autopct='%1.2f%%')
ax6.pie(df2['totale_popolazione'],labels=df2['fascia_anagrafica'],autopct='%1.2f%%')
plt.show()

plt.savefig("output.png")

9. Salvare il grafico in un file .png

In [ ]:
fig.savefig("output.png")