a. far inserire all'utente due valori interi

In [ ]:
num1=int(input("inserire la prima variabile intera "))
num2=int(input("inserire la seconda variabile intera "))

inserire la prima variabile intera 5
inserire la seconda variabile intera 10

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
print(num1,"+",num2,"=",(num1+num2))
print(num1,"-",num2,"=",(num1-num2))
print(num1,"/",num2,"=",(num1/num2))
print(num1,"*",num2,"=",(num1*num2))

5 + 10 = 15
5 - 10 = -5
5 / 10 = 0.5
5 * 10 = 50

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
print(num1,"**",num2,"=",num1**num2)

5 ** 10 = 9765625

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
print(num1,"%",num2,"=",num1%num2)

5 % 10 = 5

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
print(num1,"//",num2,"=",num1//num2)

5 // 10 = 0

g. incrementare di una unità entrambi i numeri

In [ ]:
num1=num1+1
num2=num2+1
print(num1)
print(num2)

6
11

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC

In [ ]:
y=float(input("inserire la propria altezza in metri"))
x=float(input("inserire il proprio peso in kg"))
imc=x/(y**2)
print(imc)

inserire la propria altezza in metri1.80
inserire il proprio peso in kg75
23.148148148148145

i. arrotondare l'IMC precedente

In [ ]:
print(round(imc))

23

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Valentino-Riva-30/09/2005-Milano")

Valentino-Riva-30/09/2005-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
print( "Valentino-Riva-30/09/2005-Milano"*10)

Valentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-MilanoValentino-Riva-30/09/2005-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
nomecognome = "valentino riva" 
print(nomecognome.upper())

VALENTINO RIVA

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
nomecognome= "valentino riva"
print(nomecognome.title())

Valentino Riva

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
nomecognome="Valentino Riva"
print(len(nomecognome))

14

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
nomecognome="Valentino Riva"
vocali=nomecognome.count("a")+nomecognome.count("e")+nomecognome.count("i") +nomecognome.count("o")+nomecognome.count("u")

print (vocali)

6

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
nomecognome="Valentino Riva"
print(nomecognome[0:5])

Valen

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
nomecognome="Valentino Riva"
print(nomecognome[-5:])

 Riva

r. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [ ]:
nomecognome="Valentino Riva"
y=len(nomecognome) //2 
print(nomecognome[y-2:y+3])

tino

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [ ]:
nomecognome="Valentino Riva"
print(nomecognome.lower().replace("a","x").replace("e","x").replace("i","x").replace("o","x").replace("u","x"))

vxlxntxnx rxvx